:root {
  --color-darkest: #343a40;
  --color-dark: #385a64;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #fb745c;
  --color-additional: #f8be98;
}
@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-darkest);
  min-height: 100vh;
  padding: 3.2rem;
  font-size: 62.5%;
  color: var(--color-light);
}

html {
  font-size: 1.6 rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  width: 44rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;

  column-gap: 2rem;

  color: var(--color-medium);
}

.main {
  width: 36rem;
}
img {
  width: 10rem;
}

h1 {
  font-family: "Codystar";
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  grid-column: 1/-1;
  width: 100%;
  height: 0.7rem;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: var(--color-accent);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-radius: 5px;
}

.progress {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  justify-content: space-between;
  gap: 1.2rem;
}

.QuizType {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 1.5rem;
  font-size: 1.1rem;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.QuizType div {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
}
.QuizType div select {
  background-color: var(--color-darkest);
  height: 1.8rem;
  width: 10rem;
  border-radius: 0.5rem;
  color: var(--color-light);
  border-color: var(--color-light);
  background-color: var(--color-theme);
  padding: 0 8px;
}

.QuizType div input {
  background-color: var(--color-theme);
  height: 1.8rem;
  width: 10rem;
  border-radius: 0.5rem;
  color: var(--color-light);
  border-color: var(--color-light);
  padding: 0 8px;
}

.StartScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 0.5rem 2.3rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  border-color: var(--color-accent);
  float: right;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn-option {
  width: 100%;
  text-align: left;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.continuous-5 {
  margin-top: 70px;
  width: 180px;
  height: 20px;
  background: linear-gradient(#25b09b 0 0) left -40px top 0/40px 20px,
    linear-gradient(#ddd 0 0) center/100% 50%;
  background-repeat: no-repeat;
  animation: ct5 1s infinite linear;
}

@keyframes ct5 {
  100% {
    background-position: right -40px top 0, center;
  }
}

.loader-header {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-medium);
}

.Options {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.correct {
  background-color: gold;
  color: var(--color-darkest);
  border: 2px solid black;
}

.wrong {
  background-color: red;
  border: 2px solid black;
}

.answer {
  transform: translateX(4rem);

  border: 3px solid wheat;
}
